@import '~bootstrap/scss/bootstrap';

.unauthorized_img {
    max-width: 250px;
    object-fit: cover;
}

input.form-control {
    border-color: #7d6c6c;
    box-shadow: none !important;

}

.pw {
    border-right: none;
    display: flex;

}

.showpassword {

    background-color: transparent;
    color: #7d6c6c77;
    border-left: none;
}

.showpassword:hover {
    background-color: transparent;
    color: #7d6c6c77;
    border-left: none;

}

.btn:first-child:active {
    background-color: transparent;
    color: #7d6c6c77;
    border-left: none;

}
.bg-img-form{
    background-image: url(https://strapi-imaginary.weroad.it/resource/cover/4495/viaggi-itinerari-thailandia-weroad.jpg);
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    backdrop-filter: blur(30px);
}

.rounded-10{
    border-radius: 20%;
}

.my-card{
    border: 1px solid green;
    border-radius: 8px;
    background-image: url(https://img.freepik.com/premium-vector/skyblue-gradient-background-advertisers-gradient-hq-wallpaper_189959-513.jpg);

}
